@{
    ViewData["Title"] = "Contact";
}
<div class="container mt-5" style="background-color:whitesmoke;">
<div class="row">
<div class="col-sm-7">
<img src="~/img/contact us.jpg" alt="Teams" style="height:600px; width:800px;" />
</div>
<div class="col-sm-3" style="margin-left:140px; margin-top:80px;" >
<h1><strong>Contact Us</strong></h1><br />
<a href="https://www.facebook.com/">

<img src="https://img.icons8.com/fluency/48/undefined/facebook-
new.png"/>https://www.facebook.com/ </a><br />

<br /> <a href="https://www.instagram.com/">

<img src="https://img.icons8.com/fluency/48/undefined/instagram-
new.png"/>https://www.instagram.com/ </a><br />

<br /> <a href="mailto:gadgetnepal11@gmail.com">

<img src="https://img.icons8.com/ios-glyphs/48/undefined/new-
post.png"/>gadgetnepal@gmail.com</a><br /><br />

<img src="https://img.icons8.com/ios/50/undefined/phone-
disconnected.png"/>9866000501, 9812354789<br />

</div>
</div>
</div>