@{
    ViewData["Title"] = "Listofitem";
}


<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 30rem;">
  <img class="card-img-top" src="~/img/samsung a 52.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Phone </h5>
   <a href="~/Description/Samsung" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 30rem;">
  <img class="card-img-top" src="~/img/realme-c11.jpg" alt="Card image cap">
  <div class="card-body">
     <h5 class="card-title">Real Me Phone </h5>
   <a href="~/Description/Realme" class="btn btn-primary">Buy Now</a>
    
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 30rem;">
  <img class="card-img-top" src="~/img/note11.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Redmi / Poco</h5>
   <a href="~/Description/RedmiorPoco" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;height: 30rem;">
  <img class="card-img-top" src="~/img/Apple iPhone 8.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Iphone </h5>
    <a href="~/Description/Iphone" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>
     <div class="col">
      <div class="card" style="width: 18rem; height: 30rem;">
  <img class="card-img-top" src="~/img/OnePlus Nord 2 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Oneplus</h5>
    <a href="~/Description/Oneplus" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>
     <div class="col">
      <div class="card" style="width: 18rem; height: 30rem;">
  <img class="card-img-top" src="~/img/Infinix Smart 6 HD.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Infinix</h5>
    <a href="~/Description/Infinix" class="btn btn-primary">Buy Now</a>
  </div>
</div>
    </div>
    </div>
    </div>

