@{
    ViewData["Title"] = "Iphone";
}
<div>
    <a class="btn btn-success" asp-action="MobilesDetails" asp-controller="BookNow" type="submit">Show Records</a>

</div>


<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Apple iPhone 8.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 8 (Space Grey, 64GB)  </h5>
     <p class="card-text"><h6> Internal Storage :  64GB|| Battery :  1821mAh || Operating System :  iOS 11</h6></p>
     <p style="color:red"> Rs. 98,500 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Apple iPhone 11 (64GB).jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 11 (64GB) - Black</h5>
    <p class="card-text"><h6>6.1-inch Liquid Retina HD LCD display|| Water and dust resistant|| 4K video</h6></p>
     <p style="color:red"> Rs. 1,04,857 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/Apple iPhone 11 (128GB).jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 11 (128GB) </h5>
    <p class="card-text"><h6>6.1-inch Liquid Retina HD LCD display|| Wireless charging || Water and dust resistant</h6></p>
     <p style="color:red">Rs. 1,12,238</p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/Apple iPhone 11 Pro (64GB).jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 11 Pro (64GB) - Space Grey  </h5>
     <p class="card-text"><h6> 5.8-inch Super Retina XDR OLED display || Wireless charging|| Fast charge with 18W adapter </h6></p>
     <p style="color:red"> Rs.1,49,240 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/Apple iPhone 11 Pro (256GB).jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 11 Pro (256GB) - Space Grey </h5>
    <p class="card-text"><h6>5.8-inch Super Retina XDR OLED display || Wireless charging|| Fast charge with 18W adapter </h6></p>
     <p style="color:red"> Rs. 1,71,688 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 35rem;">
  <img class="card-img-top" src="~/img/Apple iPhone 6s.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 6s (32GB)  </h5>
    <p class="card-text"><h6>4.7-inch Retina HD display || 12MP camera and 4K video</h6></p>
     <p style="color:red">Rs. 41,513 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/apple-iphone-6s-plus-32gb-gold.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 6s Plus (32GB)- Gold  </h5>
     <p class="card-text"><h6> 5.5-inch Retina HD display || 12MP camera and 4K video|| iOS 12 </h6></p>
     <p style="color:red"> Rs. 48,175 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/iphone-7-plus-black.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone 7 Plus (32GB) - Black</h5>
    <p class="card-text"><h6>5.5-inch Retina HD display || IP67 water and dust resistant|| iOS 12  </h6></p>
     <p style="color:red">Rs. 60,988 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/Apple iPhone XS Max.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple iPhone XS Max (64GB)</h5>
    <p class="card-text"><h6>6.5-inch Super Retina display (OLED) with HDR|| Wireless charging|| iOS 12 with Memoji</h6></p>
      <p style="color:red">Rs. 1,38,375 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>


<script type="text/javascript">
    function Booknow()
    {
        location.href = '@Url.Action("BookNow","BookNow")';
    }
</script>