@{
    ViewData["Title"] = "Oneplus";
}
<div>
    <a class="btn btn-success" asp-action="MobilesDetails" asp-controller="BookNow" type="submit">Show Records</a>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/OnePlus Nord 2 5G.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus Nord 2 5G (8GB/128GB)  </h5>
     <p class="card-text"><h6> 50MP Triple Camera II Fluid AMOLED 90Hz Display || Battery: Li-Po 4500 mAh </h6></p>
     <p style="color:red"> Rs. 59,999 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/OnePlus Nord CE 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus Nord CE 5G [ 8GB RAM / 128GB Storage</h5>
    <p class="card-text"><h6>90 Hz Fluid AMOLED /Fast charging 30W ] (1 Year Screen Breakage Insurance)</h6></p>
     <p style="color:red"> Rs. 44,999 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 35rem;">
  <img class="card-img-top" src="~/img/Oneplus 10 Pro 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Oneplus 10 Pro 5G Ram: 12Gb Storage: 256Gb </h5>
    <p class="card-text"><h6>"6.7" Ltpo2 Amoled 120Hz Display 80W Supervooc Wired Fast Charging]</h6></p>
     <p style="color:red">Rs. 134,999</p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/OnePlus Nord 2 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus Nord 2 5G 12/256 GB   </h5>
     <p class="card-text"><h6> 90 Hz Fluid AMOLED, Fast charging 65W || 1 Year Screen Breakage Insurance  </h6></p>
     <p style="color:red"> Rs. 69,999 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/OnePlus Nord N10.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus Nord N10 5G || 6GB RAM, 128 GB ROM </h5>
    <p class="card-text"><h6>90 Hz Smooth Display || Android 10|| Battery Li-Po 4300 mAh </h6></p>
     <p style="color:red"> Rs. 39,499 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 35rem;">
  <img class="card-img-top" src="~/img/OnePlus 9 5G (LE2113).jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus 9 5G (LE2113) II Ram 12GB& Storage 128GB   </h5>
    <p class="card-text"><h6>Video 8K@30fps With Oneplus Band ||  Fast wireless charging 15W ||Battery: Li-Po 4500 mAh </h6></p>
     <p style="color:red">Rs. 104,999 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/OnePlus 9 Pro 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus 9 Pro 5G [ RAM: 8GB, Storage: 256 GB </h5>
     <p class="card-text"><h6> 20 Hz Fluid AMOLED Display 2.0, Hasselblad Camera ](1 Year Screen Breakage Insurance) </h6></p>
     <p style="color:red"> Rs. 119,990 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 35rem;">
  <img class="card-img-top" src="~/img/OnePlus 8T 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus 8T 5G Network (12GB/256GB) </h5>
    <p class="card-text"><h6>6.55 inches Fluid AMOLED, 120Hz Display|| Battery: Li-Po 4500 mAh  </h6></p>
     <p style="color:red">Rs. 85,999 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 35rem;">
  <img class="card-img-top" src="~/img/Oneplus Nord 2T 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Oneplus Nord 2T 5G (12GB/256GB)</h5>
    <p class="card-text"><h6>AMOLED 90Hz Display | 32MP Camera|| Battery: Li-Po 4,500 mAh</h6></p>
      <p style="color:red">Rs. 74,999 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function Booknow()
    {
        location.href = '@Url.Action("BookNow","BookNow")';
    }
</script>