@{
    ViewData["Title"] = "Realme";
}
<div>
    <a class="btn btn-success" asp-action="MobilesDetails" asp-controller="BookNow" type="submit">Show Records</a>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/realme-c11.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme C11  4GB/64GB  </h5>
     <p class="card-text"><h6> 6.52" Display || Reverse charging ||Battery Li-Po 5000 mAh</h6></p>
     <p style="color:red"> Rs. 15,499 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Realme 9i.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme 9i  Battery: Li-Po 5000 mAh</h5>
    <p class="card-text"><h6>I Snapdragon 680 || 8.4mm Thickness || Dragontrail Pro Glass Protection</h6></p>
     <p style="color:red"> Rs. 24,499 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/realme GT NEO.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme GT NEO 2 SD 870 5G(8GB/128 GB)</h5>
    <p class="card-text"><h6>Chipset 65W Super Dart Charge||Qualcomm Snapdragon 870 5G Processor</h6></p>
     <p style="color:red">Rs. 54,199</p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Realme C20 2021.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme C20 2021 (2 GB RAM/ 32 GB ROM)  </h5>
     <p class="card-text"><h6> 6.5-inch Large Display || Octa-core Processor</h6></p>
     <p style="color:red"> Rs. 12,750 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/realme 9 Pro.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">realme 9 Pro+ 5G Green RAM/ ROM: 6GB/ 128GB </h5>
    <p class="card-text"><h6>Sony IMX766 OIS Camera  Dimensity 920 5G Processor </h6></p>
     <p style="color:red"> Rs. 42,999 </p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/Realme C21Y.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme C21Y Ram 4GB Storage 64GB </h5>
    <p class="card-text"><h6>"6.5" IPS LCD II 5000 mAh Battery || Octa-core</h6></p>
     <p style="color:red">Rs. 17,899 </p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Realme C25Y.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme C25Y (4GB+64GB)  </h5>
     <p class="card-text"><h6> IPS LCD "6.5" || Triple Camera 50+2+2MP</h6></p>
     <p style="color:red"> Rs. 18,749 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Realme C35.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme C35 (4GB+64GB)</h5>
    <p class="card-text"><h6>"6.6" FHD Display || 5000 mAh Battery 18W </h6></p>
     <p style="color:red">Rs. 21,000 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/Realme Narzo.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Realme Narzo 50a(4/64)</h5>
    <p class="card-text"><h6>Display: 6.5-inches|| Octa-core|| Triple Camera</h6></p>
      <p style="color:red">Rs. 19,499 </p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function Booknow()
    {
        location.href = '@Url.Action("BookNow","BookNow")';
    }
</script>