@{
    ViewData["Title"] = "RedmiorPoco";
}
<div>
    <a class="btn btn-success" asp-action="MobilesDetails" asp-controller="BookNow" type="submit">Show Records</a>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Redmi 9C.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Redmi 9C  (3 GB/ ROM: 64 GB)  </h5>
     <p class="card-text"><h6> "6.53" IPS LCD Display || Helio G35 Processor</h6></p>
     <p style="color:red"> Rs. 15,999 </p>
   < <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/note11.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Redmi Note 11 pro 5G </h5>
    <p class="card-text"><h6>108MP Main Game 120Hz FHD+ AMOLED Snapdragon 695</h6></p>
     <p style="color:red"> Rs. 36,999 </p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/9A.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Redmi 9A || 13 MP Camera</h5>
    <p class="card-text"><h6>"6.53" Display 5000mAh Battery || AI Face Unlock</h6></p>
     <p style="color:red">Rs. Rs. 12,999</p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Redmi Note 11.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Redmi Note 11 Snapdragon ||RAM/ ROM: 4/64  </h5>
     <p class="card-text"><h6>  680 Processor 50 MP Quad Camera 33 W pro Fast Charging </h6></p>
     <p style="color:red"> Rs. 24,999 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Redmi 10 Prime.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Redmi 10 Prime 2022 50 MP Quad Camera </h5>
    <p class="card-text"><h6>6000 mAh Battery 6.5 "FHD+ Display </h6></p>
     <p style="color:red"> Rs. 20,499 </p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/POCO F3 SD.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">POCO F3 SD 870 5G </h5>
    <p class="card-text"><h6>8 MP Camera / 6.67" AMOLED Dot Display || Fingerprint (side-mounted)</h6></p>
     <p style="color:red">Rs. 46,999 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/POCO M3 Pro 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">POCO M3 Pro 5G / 90Hz FHD  </h5>
     <p class="card-text"><h6> Mediatek Dimensity 700/ 48 MP Main Camera</h6></p>
     <p style="color:red"> Rs. 18,749 </p>
   < <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Redmi 101.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Redmi 10 | Snapdragon 680</h5>
    <p class="card-text"><h6>6000mAh Battery | 6.71" | IPS Display </h6></p>
     <p style="color:red">Rs. 18,999 </p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/Xiaomi 12x 5G.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">iaomi 12x 5G | Snapdragon 870</h5>
    <p class="card-text"><h6>20 Hz AMOLED Display | 67 W Wired Turbo Charging</h6></p>
      <p style="color:red">Rs. 76,999 </p>
     <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function Booknow()
    {
        location.href = '@Url.Action("BookNow","BookNow")';
    }
</script>