@{
    ViewData["Title"] = "Samsung";
}
<div>
    <a class="btn btn-success" asp-action="MobilesDetails" asp-controller="BookNow" type="submit">Show Records</a>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Samsung-Galaxy-F22-black.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy F22 (6GB/128GB)  </h5>
     <p class="card-text"><h6> Quad Camera 48MP || 9.4mm Thickness ||Battery 6000 mAh</h6></p>
     <p style="color:red"> Rs. 24,499 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Samsung Galaxy M32.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy M32 (6GB/128GB)</h5>
    <p class="card-text"><h6>S-Amoled Display(90HZ)6000mAh Battery</h6></p>
     <p style="color:red"> Rs. 28,699 </p>
    <<a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/samsung a 52.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy A52S 5G (8GB/128GB)</h5>
    <p class="card-text"><h6>SNP-DRGN 778G 5G On-Display Fingerprint IP67 Rating</h6></p>
     <p style="color:red">Rs. 48,750</p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/SAMSUNG GALAXY M12.jpg" style="height:10vh width:10vw" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">SAMSUNG GALAXY M12 (4GB/64GB)  </h5>
     <p class="card-text"><h6> (SM-M127G/DS) Li-Po 6000mAh BATTERY</h6></p>
     <p style="color:red"> Rs. 18,799 </p>
   <<a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Samsung Galaxy A72.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy A72 (8GB/256GB)</h5>
    <p class="card-text"><h6>(SM-A725F/DS) SNP-DRGN 720G On Screen Fingerprint ( Free Earphones) </h6></p>
     <p style="color:red"> Rs. 56,400 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/Samsung Galaxy A33 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy A33 5G (8GB+128GB)</h5>
    <p class="card-text"><h6>Li-Po 5000 mAh ||Corning Gorilla Glass 5 & IP67 dust/water resistant</h6></p>
     <p style="color:red">Rs. 46,300 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Samsung Galaxy A12.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy A12 Nacho </h5>
     <p class="card-text"><h6> Quad Camera 48MP || 6.5 inches PLS IPS Display || Battery 5000mAh</h6></p>
     <p style="color:red"> Rs. 19,999 </p>
   <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 38rem;">
  <img class="card-img-top" src="~/img/Samsung Galaxy M62.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy M62 (8GB/128GB)</h5>
    <p class="card-text"><h6>(SM-M625F/DS) 7000mAh Battery (Free Earphones) </h6></p>
     <p style="color:red"> Rs. 41,925 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;height: 38rem;">
  <img class="card-img-top" src="~/img/Samsung Galaxy F42 5G.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy F42 5G (8GB/128GB)</h5>
    <p class="card-text"><h6>(SM-E426B/DS)| 90Hz Refresh Rate| 64MP Camera| 5000mAh Battery| (Free Earphones)</h6></p>
      <p style="color:red">Rs. 33,950 </p>
    <a href="#" class="btn btn-primary" onclick="Booknow()">Buy Now</a>
  </div>
</div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function Booknow()
    {
        location.href = '@Url.Action("BookNow","BookNow")';
    }
</script>